*{
	margin: 0;
}

#container{
	
	width:1000;
	margin:0 auto;
	background-color: lightgrey;
}

#register{
	width:500px;
	margin-top:40px;
	display: inline-block;
}

#login{
	width:500px;
	margin-top:40px;
	display: inline-block;
	vertical-align: top;
	

}