*{
    margin:0;
    padding:0;
}

.container{
	width:970px;
}

.header{
	border-bottom:1px solid lightpink;
}

.header h2{
	display:inline-block;
        color: deepskyblue;
}

.side-head{
	display: inline-block;
	float: right;
    margin-top:38px;
}
.side-head a{
	float:right;
}

.body{

}

.display-wall {
    display: inline-block;
    width: 970px;
    background-color: #242323;
    vertical-align: top;
    padding: 20px;
}

.post-wall {
    display: inline-block;
    background-color: gold;
    width: 526px;
    padding: 20px;
    height: 500px;
 }

 .display-wall p{

 	margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 20px;
    display: inline-block;
    font-size: 20px;
 }
 .h3, h3 {
 font-size: 1.2rem;
    margin-top: 45px;
    margin-bottom: -1px;
}
.form-group {
    margin-bottom: 15px;
    margin-right: 2px;
}

input [type=submit], button, html [type=button] {
    -webkit-appearance: button;
    border-radius: 8px;
    width: 64px;
    background-color: #CDDC39;
}

input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    float: right;
    margin-top: -14px;
}

h4 {
    font-size: 22px;
}