<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Login And Registration~~</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  {% load static %}
	<link rel="stylesheet" href="{% static 'login_reg/css/style.css' %}">

 </head>
 <body>
 		<div class="container">
 			<h1>Login And Registration~~ Home</h1>
 			<div class="register">
 				<h3>Register Here</h3>
 				{% if request.session.action == 'register' %}
 				 {% if messages %}

				    <ul>
				        {% for message in messages %}
				        <li class="error">{{ message }}</li>
				        {% endfor %}
				    </ul>
				    {% endif %}
				    {% endif %}
		 			<form action='/register', method='post' class='form-group'>
		 				{% csrf_token %}
						First Name
					
						<input type="text" class="form-control" name='first_name' value="">
						Last Name
						
						<input type="text" class="form-control" name='last_name' value="{{request.session.last_name}}">
						Email
						
						<input type="text" class="form-control" name='email' value="{{request.session.email}}">
						 Password:
					
						 <input type="password" name="password" class="form-control">
						 Confirm Password:
						
						 <input type="password" name="confirm_password" class="form-control">
						  <input type="submit" value="Register">
					</form>
			</div>
			<div class="login">
				<h3>Login Here</h3>
				{% if messages and request.session.action == 'login' %}
				    <ul>
				        {% for message in messages %}
				        <li class="error">{{ message }}</li>
				        {% endfor %}
				    </ul>
				    {% endif %}
					<form action='/login' method='post' class='form-group' style="margin-left:62px;">
						{% csrf_token %}
						Email
						
						<input type="text" class="form-control" name="login_email">
					    Password:
					    
					    <input type="password" name="login_password" class="form-control">
					    <input type="submit" value="Login">
					 </form>
			</div>
 		</div>
 </body>
 </html>
