<head>

<style>
body {
    background-color: grey;
}
#container{
	height:800px;
	width:900px;
	background-color: pink;
	margin:0 auto;
	padding-top: 50px;
}
.box{
	height:80px;
	width:80px;
	display:inline-block;
	/*background-color:{{bkg_color}};*/
	background-color:{{bg_color}};
}
h1 {
    color: black;
    margin-left: 40px;
    text-align: center;

} 
</style>
</head>
<body>
	<div id="container">
    	<h1>Welcome!</h1>
    	{% for x in range(0,times): %}
    		<div class="box"></div>
    	{% endfor %}	
    	
    </div>
</body>